<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>F.D.</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../../static/css/custom-css.css" th:href="@{../../css/custom-css.css}" rel="stylesheet" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css"/> -->

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->

    <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900'
        rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet'
        type='text/css' />

</head>

<body>
    <div class="container body-container">
        <div class="body-container-overlay">
            <!--Left column-->
            <div class="col-sm-3 left-column">
                <div class="row">
                    <div class="column-head">
                        <h1>F.D.</h1>
                    </div>
                </div>
                <div class="column-row">
                    <ul>
                        <li><a th:href="${'../../admin/loggedIn/' + admin.userID}">Admin Dashboard</a></li>
                        <li><a th:href="${'../../admin/viewUsers/' + admin.userID}">Edit Users List</a></li>
                        <li><a th:href="${'../../admin/viewActivities/' + admin.userID}">Edit Activities List</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!--Right column-->
            <div class="col-sm-9 right-column">
                <div class="row">
                    <h1 id="home-head">Fitness Dashboard</h1>
                    <h2>ADMIN view</h2>
                    <h3>The dashboard to rule all dashboards...</h3>
                </div>
                <div th:if="${not #lists.isEmpty(devicemodels)}">
                    <h2>Device Models List:</h2>
                    <table class="table device-models-table">
                        <tr>
                            <th>Device Model ID</th>
                            <th>Device Model Name</th>
                            <th>Device Model web url</th>
                        </tr>
                        <tr th:each="entry : ${devicemodels}">
                            <td th:text="${entry.devicemodelid}"></td>
                            <td th:text="${entry.model}"></td>
                            <td th:text="${entry.weburl}"></td>
                            <td><a th:href="${'/deviceModel/edit/' + entry.devicemodelid}">Edit</a> </td>
                            <td><a th:href="${'/deviceModel/delete/' + entry.devicemodelid}">Delete</a> </td>
                        </tr>
                    </table>
                </div>

                <h3>Add a new device model:</h3>

                <form class="form-horizontal" th:object="${devicemodel}" th:action="@{/deviceModel/addDeviceModel/}" method="post">
                    <input type="hidden" th:field="*{devicemodelid}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Device Model Name:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{model}" placeholder="Garmin Edge 1000" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Device Model Web URL:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{weburl}" placeholder="http://www.garmin.co.za/fitness_products_gps_bike_computers.php" />
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-join">Add Device Model</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-md-6">
                <h3 id="FD">Fitness Dashboard</h3>
                <div id="copyright">
                    <p>Copyright &copy; 2017 - <a href="#"> F.D.</a></p>
                </div>
            </div>
            <div class="col-md-6 col-nav">
                <h5>Navigate</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="data/viewactivities">Activities</a></li>
                    <li><a href="data/viewdevices">Devices</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

</html>