<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>F.D.</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../../static/css/custom-css.css" th:href="@{../../css/custom-css.css}" rel="stylesheet" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css"/> -->

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->

    <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900'
        rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet'
        type='text/css' />

</head>

<body>
    <div class="container body-container">
        <div class="body-container-overlay">
            <!--Left column-->
            <div class="col-sm-3 left-column">
                <div class="row">
                    <div class="column-head">
                        <h1>F.D.</h1>
                    </div>
                </div>
                <div class="column-row">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="viewdevices">Devices</a></li>
                    </ul>
                </div>
            </div>
            <!--Right column-->
            <div class="col-sm-9 right-column">
                <div class="row">
                    <h1 id="home-head">Fitness Dashboard</h1>
                    <h3>The dashboard to rule all dashboards...</h3>
                </div>
                <div class="row">
                    <h2>Activities:</h2>
                    <div th:if="${not #lists.isEmpty(activities)}">
                        <table class="table table-devicemodellist">
                            <tr>
                                <th class="heading-devicemodellist">Activity</th>
                            </tr>
                            <tr th:each="entry : ${activities}">
                                <td th:text="${entry.activityname}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-md-6">
                <h3 id="FD">Fitness Dashboard</h3>
                <div id="copyright">
                    <p>Copyright &copy; 2017 - <a href="#"> F.D.</a></p>
                </div>
            </div>
            <div class="col-md-6 col-nav">
                <h5>Navigate</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="viewdevices">Devices</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- <link href="../static/css/custom-css.css" th:href="@{css/custom-css.css}" rel="stylesheet" media="screen" /> -->
    <!-- <script src="../static/js/custom.js"></script> -->

</body>

</html>