<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
      <title>User details</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
            rel="stylesheet" media="screen" />

      <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

      <link href="../../static/css/spring-core.css" th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

</head>

<body>
      <div class="container">
            <h2>User details</h2>
            <div>
                  <form class="form-horizontal" th:object="${user}" th:action="@{/user/userEdit/}" method="post">
                        <input type="hidden" th:field="*{userID}" />
                        <!--<input type="hidden" th:field="*{role}"/>-->
                        <div class="form-group">
                              <label class="col-sm-2 control-label">User name:</label>
                              <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{username}" />
                              </div>
                        </div>
                        <div class="form-group">
                              <label class="col-sm-2 control-label">Password:</label>
                              <div class="col-sm-10">
                                    <!--<input type="password" name="password" class="form-control"/>-->
                                    <input type="password" class="form-control" th:field="*{password}" />
                              </div>
                        </div>
                        <div class="form-group">
                              <label class="col-sm-2 control-label">Role:</label>
                              <!-- <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{role}"/>
                              </div> -->
                              <div class="col-sm-10">
                                   <select class="form-control col-input" th:field="*{role}">
                                    <option class="gender-dropdown" value="user">user</option>   
                                    <option class="gender-dropdown" value="admin">admin</option>
                              </select> 
                              </div>
                        </div>
                        <div class="row">
                              <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                  </form>
            </div>
      </div>
</body>

</html>