<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>F.D.</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../../static/css/custom-dashboard-css.css" th:href="@{../../css/custom-dashboard-css.css}" rel="stylesheet" type="text/css" media="screen" />
    <!--<link href="../../static/css/custom-dashboard-css.css" rel="stylesheet" type="text/css" media="screen"/>-->

    <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900'
        rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet'
        type='text/css' />

</head>

<body>
    <div class="container body-container">
        <!--Left column-->
        <div class="col-sm-3 left-column">
            <div class="row">
                <div class="column-head">
                    <h1>F.D.</h1>
                </div>
            </div>
            <div class="column-row">
                <ul>
                    <li><a th:href="${'/dashboard/profile/' + user.userID}">Profile</a></li>
                    <li><a th:href="${'/dashboard/devices/' + user.userID}">Devices</a></li>
                    <li><a href="/dashboard/newevent">New event</a></li>
                    <li><a href="/dashboard/history">History</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
        <!--Right column-->
        <div class="col-sm-9 right-column">
            <div class="row">
                <h1 id="home-head">Fitness Dashboard</h1>
                <h4>USERNAME's dashboard to rule all dashboards...</h4>
            </div>

            <div class="row row-dashboard-content">
                <h1>What you have been up to:</h1>
                <div class="col-sm-6">
                    <h3>Exercise stuff:</h3>
                    <div class="form-horizontal form-stats">
                        <h4>Cycling:</h4>
                        <div class="form-group">
                            <label class="col-sm-4">Exercises:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> # Cycling Exercices</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Distance:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> Distance km</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Ascent:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> Ascent m</p>
                            </div>
                        </div>
                        <h4>Running:</h4>
                        <div class="form-group">
                            <label class="col-sm-4">Exercises:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> # Running Exercices</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Distance:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> Distance km</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Time:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> Running duration hours</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Health stuff:</h3>
                    <div class="form-horizontal form-stats">
                        <h4>Health:</h4>
                        <div class="form-group">
                            <label class="col-sm-4">Events:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> # Health events</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Current weight:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> Weight kg</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Current BodyFat:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> BodyFat %</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Current BMI:</label>
                            <div class="col-sm-8">
                                <p class="form-control-static"> BMI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-sm-6">
                <h3 id="FD">Fitness Dashboard</h3>
                <div id="copyright">
                    <p>Copyright &copy; 2017 - <a href="#"> F.D.</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-nav">
                <h5>Navigate</h5>
                <ul>
                    <li><a th:href="${'/dashboard/profile/' + user.userID}">Profile</a></li>
                    <li><a th:href="${'/dashboard/devices/' + user.userID}">Devices</a></li>
                    <li><a href="/dashboard/newevent">New event</a></li>
                    <li><a href="/dashboard/history">History</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </footer>



</body>

</html>