<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>F.D.</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

      <link href="../../../static/css/custom-dashboard-css.css" th:href="@{../../css/custom-dashboard-css.css}" rel="stylesheet" type="text/css" media="screen" />  
     <!-- <link href="../../static/css/custom-dashboard-css.css" rel="stylesheet" type="text/css" media="screen" />  -->

    <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900'
        rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet'
        type='text/css' />

</head>

<body>
    <div class="container body-container">
        <!--Left column-->
        <div class="col-sm-3 left-column">
            <div class="row">
                <div class="column-head">
                    <h1>F.D.</h1>
                </div>
            </div>
            <div class="column-row">
                <ul>
                    <li><a th:href="${'/dashboard/loggedIn/' + user.userID}">Dashboard</a></li>
                    <li><a th:href="${'/dashboard/devices/' + user.userID}">Devices</a></li>
                    <li><a href="/dashboard/newevent">New event</a></li>
                    <li><a href="/dashboard/history">History</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
        <!--Right column-->
        <div class="col-sm-9 right-column">
            <div class="row">
                <h1 id="home-head">Fitness Dashboard</h1>
                <h4>USERNAME's dashboard to rule all dashboards...</h4>
            </div>
            <div class="row row-dashboard-content row-profileform">
                <h1>This is your profile.</h1>
                <h3>Profile Information:</h3>
                <form class="form-horizontal" th:object="${profile}" th:action="@{/dashboard/updateProfile/}" method="post">
                    <input type="hidden" th:field="*{profileID}"/>
                    <input type="hidden" th:field="*{user.userID}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Full name:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{fullname}" placeholder="Bob"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Surname:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{surname}" placeholder="Builder"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Profile Name:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{profilename}" placeholder="Profile Name - Displayed on profile"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{email}" placeholder="bob.builder@gmail.com"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Height (meters):</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{height}" placeholder="1.75"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Age (years):</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <input type="text" class="form-control col-input" th:field="*{age}" placeholder="24"/>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">Gender:</label>-->
                        <!--<div class="col-sm-6 col-sm-offset-1">-->
                            <!--<input type="text" class="form-control col-input" th:field="*{gender}" placeholder="Appacheattackhelicopter"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gender:</label>
                        <div class="col-sm-6 col-sm-offset-1">
                            <select class="form-control col-input" th:field="*{gender}">
                                <option class="gender-dropdown" value="Male">Male</option>
                                <option class="gender-dropdown" value="Female">Female</option>
                                <option class="gender-dropdown" value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-join">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-sm-6">
                <h3 id="FD">Fitness Dashboard</h3>
                <div id="copyright">
                    <p>Copyright &copy; 2017 - <a href="#"> F.D.</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-nav">
                <h5>Navigate</h5>
                <ul>
                    <li><a th:href="${'/dashboard/loggedIn/' + user.userID}">Dashboard</a></li>
                    <li><a th:href="${'/dashboard/devices/' + user.userID}">Devices</a></li>
                    <li><a href="/dashboard/newevent">New event</a></li>
                    <li><a href="/dashboard/history">History</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </footer>



</body>

</html>