

/*Generic*/

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

#FD {
    color: #129CF3
}

.body-container {
    background-image: url("../images/backgroundImage.jpg");
    background-repeat: no-repeat;
    /* background-position: 100% 100%; */
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: auto;
    height: auto;
    padding-bottom: 100px;
}



/*Left column*/

.left-column {
    padding-left: 50px;
}

.column-head {
    padding-bottom: 25px;
}

.column-head h1 {
    font-size: 125px;
    color: #1564B2;
}

.column-row li {
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 5px;
    /*background-color: rgba(128, 128, 128, 0.5);*/
}

.column-row a {
    /*color: #1564B2;*/
    color: whitesmoke;
    /*color: #8C8B8A;*/
}

/*Right column*/

.right-column {
    padding-left: 50px;
    text-align: center;
    color: white;
}
.right-column p {
    padding-left: 25px;
    padding-bottom: 5px;
}

#home-head {
    font-size: 75px;
}

.row-about-us {
    padding-top: 50px;
    padding-bottom: 25px;
}

.row-register-now {
    padding-bottom: 25px;
}

.col-btn-register {
    padding-left: 350px;
}

 .col-btn-login {
    padding-right: 350px;
} 

.btn-join {
    background: transparent;
    border-color: #129CF3;
    color: #fc4c02;
}

.col-input {
    background: transparent;
    color: whitesmoke;
}

/* DeviceModel List */

.table-devicemodellist {
    margin-top: 25px;
    margin-bottom: 25px;
}

.heading-devicemodellist {
    text-align: center;
}

/* ADMIN */

.admin-options li{
    font-size: 17px;
    font-weight: 400;
}

.admin-options a {
    color: whitesmoke;    
}

.device-models-table{
    overflow-y: scroll;
    height: 250px;
    display: block;
}


/*Footer*/

.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
}
#copyright {
    width: 100%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}

.col-nav {
    color: #129CF3;
}

.col-nav a {
    color: #8C8B8A;
}