

/*Generic*/

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body-container {
    background-image: url("../images/backgroundImage1.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: auto;
    height: auto;
}

/*Left column*/

.left-column {
    padding-left: 50px;
}

.column-head {
    padding-bottom: 25px;
}

.column-head h1 {
    font-size: 125px;
    color: #1564B2;
}

.column-row li {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}

.column-row a {
    /*color: #1564B2;*/
    color: whitesmoke;
    /*color: #8C8B8A;*/
}

/*Right column*/

.right-column {
    padding-left: 50px;
    text-align: center;
    color: white;
}
.right-column p {
    padding-left: 25px;
    padding-bottom: 25px;
}

.right-column h2 {
    padding-bottom: 25px;
}

#home-head {
    font-size: 75px;
}

.btn-join {
    background: transparent;
    border-color: #129CF3;
    color: #fc4c02;
}

.col-input {
    background: transparent;
    color: whitesmoke;
    /* color: rgba(128, 128, 128, 1); */
}

.row-dashboard-content {
    padding-top: 10px;
}

.row-dashboard-content h3 {
    text-align: center;
    padding-bottom: 10px;
}

/* Profile form */

.row-profileform {
    padding-bottom: 25px;
}

.gender-dropdown {
    color: black;
}


/*What have you been up to*/

.row-dashboard-content {
    background-color: rgba(31, 31, 31, 0.5);
}

.form-stats h4 {
    padding-bottom: 10px;
}

.form-group label {
    text-align: right;
}





/*Footer*/

#FD {
    color: #129CF3
}

.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
}
#copyright {
    width: 100%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}

.col-nav {
    color: #129CF3;
}

.col-nav a {
    color: #8C8B8A;
}