<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>F.D.</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/custom-css.css" th:href="@{css/custom-css.css}" rel="stylesheet" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/custom-css.css"/> -->

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->

    <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900'
        rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet'
        type='text/css' />

</head>

<body>
    <div class="container body-container">
        <div class="body-container-overlay">
            <!--Left column-->
            <div class="col-sm-3 left-column">
                <div class="row">
                    <div class="column-head">
                        <h1>F.D.</h1>
                    </div>
                </div>
                <div class="column-row">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="data/viewactivities">Activities</a></li>
                        <li><a href="data/viewdevices">Devices</a></li>
                        <!-- <li><a href="admin/viewUsers">UsersList (Admin)</a></li> -->
                    </ul>
                </div>
            </div>
            <!--Right column-->
            <div class="col-sm-9 right-column">
                <div class="row">
                    <h1 id="home-head">Fitness Dashboard</h1>
                    <h3>The dashboard to rule all dashboards...</h3>
                </div>
                <div class="row row-about-us">
                    <h2>About Us</h2>
                    <p>We are all about Dashboards. To display messy data in a way that's easy to understand is what life is
                        all about, right? We made it our mission to ensure that your unreadable data is presented in a safe,
                        portable, animal friendly, ergonomic, environmentally conscious, airplane safe and US military approved
                        way.
                    </p>
                </div>
                <div class="row row-register-now">
                    <h2>Join us</h2>
                    <p>Join us for many Dashboard adventures. Together we can take over the World.</p>
                    <p>Register below or log in if already registered:</p>
                    <form class="form-horizontal" th:object="${user}" th:action="@{/userRegisterLogin/}" method="post">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{form.hasErrors}">Error Message</p>
                        </div>

                        <input type="hidden" th:field="*{userID}" />
                        <input type="hidden" th:field="*{role}" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">User name:</label>
                            <div class="col-sm-6 col-sm-offset-1">
                                <input type="text" class="form-control col-input" th:field="*{username}" placeholder="Username" required="required"/>

                                <span class="help-block">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
                                    </ul>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password:</label>
                            <div class="col-sm-6 col-sm-offset-1">
                                <input type="password" class="form-control col-input" th:field="*{password}" placeholder="Password" required="required"/>

                                <!-- <span class="help-block">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                                    </ul>
                                </span> -->

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-btn-register">
                                <button type="submit" class="btn btn-join" name="action" value="register">Register</button>
                            </div>
                            <div class="col-sm-6 col-btn-login">
                                <button type="submit" class="btn btn-join" name="action" value="login">Login</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-md-6">
                <h3 id="FD">Fitness Dashboard</h3>
                <div id="copyright">
                    <p>Copyright &copy; 2017 - <a href="#"> F.D.</a></p>
                </div>
            </div>
            <div class="col-md-6 col-nav">
                <h5>Navigate</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="data/viewactivities">Activities</a></li>
                    <li><a href="data/viewdevices">Devices</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- <link href="../static/css/custom-css.css" th:href="@{css/custom-css.css}" rel="stylesheet" media="screen" /> -->
    <!-- <script src="../static/js/custom.js"></script> -->

</body>

</html>